<!doctype html>
<html>
    <head>
        <title>Rohan Sikand</title>

        <meta charset="UTF-8" />
        <meta name="description" content="Rohan Sikand's website" />
        <meta name="author" content="Rohan Sikand" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="../styles/post.css" />
    </head>

    <body>
        <div id="holder">
            <div id="left"></div>
            <div id="middle">
                <br>
                <br>
                &larr; back to <a href="../index.html">home</a>, <a href="../blog.html">blog</a>
                |blog-post-content-here|
            </div>
            <div id="right">
        </div>
    </body>
</html>
