body {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic,
        sans-serif;
    font-size: 1em;
    background-color: #f4f5ef;
    /* background-color: #e4e5e4; */
}

h1 {
    font-size: 2em;
}

#holder {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
}

#left {
    flex-grow: 100;
    min-width: 9em;
    max-width: 9em;
    padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
    #left {
        flex-grow: 100;
        min-width: 1em;
        max-width: 4em;
        padding-bottom: 10px;
    }
}

#middle {
    max-width: 31em;
}

#right {
    min-width: 1em;
    margin-left: 10px;
    flex-grow: 100;
}

a {
    color: #660000;
}

a:hover {
    color: #400000;
}

.profile-image {
    border-radius: 50px; /* This creates rounded corners */
    width: 25%; /* This makes the image smaller, adjust the percentage as needed */
    height: auto; /* This maintains the aspect ratio */
}

.banner-image {
    border-radius: 5px; /* This creates rounded corners */
    width: 90%; /* This makes the image smaller, adjust the percentage as needed */
    height: auto; /* This maintains the aspect ratio */
}

.low-opacity-hr {
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3); /* Black color with 10% opacity */
}
ul {
    /* list-style-type: none; */
}
li {
    margin-bottom: 10px;
}

.profile-container {
    display: flex;
    align-items: flex-start;
    max-width: 600px;
}
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.profile-info {
    flex-grow: 1;
}
.profile-links {
    margin-bottom: 10px;
}
.profile-links a {
    color: #8b0000;
    text-decoration: none;
    margin-right: 10px;
}
.profile-links a:hover {
    text-decoration: underline;
}
.email {
    margin-bottom: 10px;
}
.education {
    color: #8b0000;
    text-decoration: underline;
}
