@import url("./home.css");


body {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}


.home-page-nav-link {
    color: rgb(0, 0, 0);
}

.arrow-back-header {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.date {
    color: #666;
    font-size: 14px;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}